<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDur5j-g0t6k3rgKeHDXIf_su9olXBDzI</string>
	<key>GCM_SENDER_ID</key>
	<string>1003659210713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodOrderingApp</string>
	<key>PROJECT_ID</key>
	<string>quickbites-ef420</string>
	<key>STORAGE_BUCKET</key>
	<string>quickbites-ef420.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003659210713:ios:0e44db16d1a703c19af3c8</string>
</dict>
</plist>